<%= @user.email%>
<%= form_with model: @weighing do |form| %>
  <%= form.number_field :value, step: 0.1, placeholder: "inserisci pesata" %>
  <%= form.submit "Invia" %>
<% end %>

<h1>Ultime dieci pesate</h1>
<ul>
  <% @weighings.each do |weighing| %>
  <li><%= weighing.value %> </li>
<% end %>
</ul>
<%= link_to("Vedi tutte", weighings_path) %> 
<%= link_to("Log out", login_path, data: { turbo_method: :delete }) %>


