<%= @user.email%>
<%= form_with url: "/create", method:"post" do |form| %>
  <%= form.number_field :weigh, step: 0.1, placeholder: "inserisci pesata" %>
  <%= form.submit "Invia" %>
<% end %>

<h1>Ultime dieci pesate</h1>
<ul>
  <% @weighings.each do |weighing| %>
  <li><%= weighing.value %> </li>
<% end %>
</ul>
<%= link_to("Vedi tutte", "/archive") %> 
<%= link_to("Log out", "/logout", data: { turbo_method: :delete }) %>


