<%= @user.email%>
<%= form_with model: @weighing do |form| %>
  <%= form.number_field :value, step: 0.1, placeholder: t("enter_weight") %>
  <% @weighing.errors.full_messages_for(:value).each do |message| %>
    <p><%= message %></p>
  <% end %>      
  <%= form.submit t("submit") %>
<% end %>

<h1><%= t("last_weighs")%></h1>
<ul>
  <% @weighings.each do |weighing| %>
  <li><%= weighing.value %> </li>
<% end %>
</ul>
<%= link_to(t("see_all"), weighings_path) %> 
<%= link_to t("destroy"), user_path(@user.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: t("confirm_delete")
                  } %>

